.App {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.weatherContainer {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.formContainer {
  background-color: #282c34;
  text-align: center;
  color: white;
}